.heading-primary {
  margin-bottom: 40px;
  color: white;
  text-align: center;;
  &-main {
    color: rgba($color-gray-dark-1, .6);
    font-size: 60px;
    display: block;
  }

  &-sub {
    font-size: 20px;
    display: block;
  }
}
